


@use '../../styles/mixins/mixins';
$footerPosition :translateY( 100%);
@mixin handlePosition($property){
  @media (min-width:768px) {
    transform: $property;    
  }


}
.top-sellers-col {
  z-index: 1;
}

.top-sellers-title {
  &::before {
    @include mixins.customUnderline(9);
  }
}

.top-sellers-list {
  img {
    min-width: 6rem;
    object-fit: cover;
  }
}

rating-container {
  letter-spacing: 0.5rem;
}
.img-container{
  max-height: 15rem;
  overflow: hidden;
}
.category-aside-img {
  
  object-fit: cover;
  transition: scale .4s ease;
  
  &:hover {


    scale: 1.2;
 

  }
}

.product-card,
.preview-card {
  cursor: pointer;
}

.product-card {
  overflow: hidden;
  svg{
    max-width: 20px;
    max-height: 20px;
  }
 &-footer{
  @include handlePosition( $footerPosition );
    background-color:gray;

 }
}
