@use '../../styles/mixins/mixins';
.top-sellers-title {
  &::before {
    @include mixins.customUnderline(9);
  }
}
.top-sellers-list {
  img {
    min-width: 6rem;
    object-fit: cover;
  }
}
rating-container {
  letter-spacing: 0.5rem;
}
