// @import '../../../../node_modules/bootstrap/scss/bootstrap';
// @import '../../../../node_modules/bootstrap/scss/utilities';
// @debug $grays;

@import '../../../styles/base.scss';
@keyframes animateOutline {
  0% {
    outline-offset: 30px;
    outline: 1px solid;
  }
  25% {
    outline-offset: 27px;
    outline: 1px solid ligthen($primary, 80%);
  }

  75% {
    outline-offset: 22px;
    outline: 1px solid ligthen($primary, 70%);
  }
  100% {
    outline-offset: 20px;
    outline: 1px solid $primary;
  }
}

.category-card {
  &::before {
    content: '';

    background-color: transparent;
    position: absolute;
    top: 0%;
    left: 0;

    border: 1px solid transparent;
    transition: all 0.2s ease;
  }
  &::after {
    content: attr(data-category);

    position: absolute;
    font-size: 2rem;
    color: $primary;
    font-weight: bold;

    opacity: 0;
    top: 50%;
    left: 50%;

    /* move left by 50% of own width */
    transform: translateX(-50%) translateY(-50%);
    isolation: isolate;
    outline: 1px solid transparent;
    outline-offset: 30px;

    transition: animation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    &::before {
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;

      width: 100%;
      height: 100%;
      background-color: #000000ba;

      isolation: isolate;
    }
    &::after {
      opacity: 1;
      animation: animateOutline 0.2s forwards;

      transition: animation 0.2s ease;
    }
  }
}
