// @import '../../../../node_modules/bootstrap/scss/bootstrap';
// @import '../../../../node_modules/bootstrap/scss/utilities';
// @debug $grays;

@import '../../../styles/base.scss';

.category-card {
  &::before {
    content: '';

    background-color: transparent;
    position: absolute;
    top: 0%;
    left: 0;

    border: 1px solid transparent;
    transition: all 0.2s ease;
  }
  &::after {
    content: attr(data-category);

    position: absolute;
    font-size: 2rem;
    color: $primary;
    font-weight: bold;

    opacity: 0;
    top: 50%;
    left: 50%;

    /* move left by 50% of own width */
    transform: translateX(-50%) translateY(-50%);
    isolation: isolate;

    transition: opacity 0.2s ease, outline 0.4s ease;
  }

  &:hover {
    &::before {
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;

      width: 100%;
      height: 100%;
      background-color: #000000ba;

      isolation: isolate;
    }
    &::after {
      opacity: 1;
      outline: 1px solid;
      outline-offset: 10px;
    }
  }
}
