@mixin highlightTextOnHover {
  transition: color 0.2s ease-in;
  &:hover {
    color: var(--bs-primary)!important;
  }
}

.dropdown-menu,.navbar-nav {
  
  li a,.nav-item,#navbarDropdown {
  @include highlightTextOnHover()
  }
}
.navbar-brand_logo {
  width: 4rem;
}
.dropdown-toggle{background-color: inherit;border: none;}

