@import '../../styles/base.scss';
header{
 
 nav{
  form{
    min-width: 14rem;
  }
 }
  transition: all .2s ease;
  &.visible-on-scroll{
   
       position: fixed;
       z-index: 10;
    
       top:0;
       left: 0;
       width: 100%;
       transform: translateY(-100%);
       animation: animateHeaderOnScroll .2s ease forwards;
  }
}
@keyframes animateHeaderOnScroll {
  from{
    transform: translateY(-100%);  }
  
  to{
    transform: translateY(0%);
  }
 
}

@mixin highlightTextOnHover {
  transition: color 0.2s ease-in;
  &:hover {
    color: var(--bs-primary)!important;
  }
}

.dropdown-menu,.navbar-nav {
  
  li a,.nav-item,#navbarDropdown {
  @include highlightTextOnHover()
  }
}
.navbar-brand_logo {
  width: 4rem;
}
.dropdown-toggle{background-color: inherit;border: none;}
.nav-link.active{
  color: $primary !important;
}
.nav-link.active.dropdown.text-gray-800{
  color: $primary !important;
}
