@mixin calcGradient($width) {
  background-image: linear-gradient(
    to right,
    red calc(14px * $width),
    white 16%
  );
}
footer {
  svg.ionicon {
    width: 20px;
    height: 20px;
  }
  * {
    color: white;
  }
  $list-group-bg: #212529;
  $primary: #c62c34;
  $primary-darker: #c62c34;
  $list-group-color: white;
  $list-group-border-color: rgba(#212529, 0.125);
  $enable-shadows: true;
  $enable-transitions: true;
  $enable-gradients: true;
  $enable-rounded: false;
  $card-bg: $list-group-bg;
  $card-color: white;
  @import '../../../node_modules/bootstrap/scss/bootstrap';
  @import '../../../node_modules/bootstrap/scss/utilities';
  a {
    color: inherit;
    text-decoration: none;
  }
  .opening-hours {
    .opening-hours-li:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  .footer-section-title {
    &::before {
      content: '';
      bottom: -10%;
      left: 0%;
      position: absolute;
      width: 100%;
      height: 2px;
      @include calcGradient(9);
    }
  }
  .brand-section {
    .brand-img {
      width: 4rem;
      rotate: 14deg;
    }
  }
  .quick-link {
    overflow: hidden;
    .list-group-item {
      .list-group-item-anchor {
        display: block;
        cursor: pointer;
        transition: all 0.2s ease;
        overflow: hidden;
        svg {
          stroke: white;
        }
        &:hover {
          color: #c62c34 !important;
          translate: 1rem;
          max-width: 100%;
          svg {
            stroke: #c62c34;
          }
        }
      }
    }
  }
}
