@use './slider_button_styles';
:root {
  --slider-height: 0;
}
#carouselExampleControls {
  // height: calc(100vh - var(--navbar-height));

  p {
    display: -webkit-box;

    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .carousel-inner {
    // height: calc(100vh - var(--navbar-height));

    .col-12:nth-child(1) {
    
      border: 5px dashed black;
      border-right: none;
      position: relative;
      @media (max-width:600px) {
        border-color: transparent;
      }
      &::after {
        content: '';
        background-color: var(--light-yellow);
        width: 25%;
        height: 5px;
        position: absolute;
        bottom: -5px;
        right: 0px;
      }
      &::before {
        content: '';
        background-color: var(--light-yellow);
        width: 10%;
        height: 5px;
        position: absolute;
        top: -5px;
        right: 0px;
      }
      .carousel-btn {
        width: fit-content;
      }
    }

    .carousel-img {
      max-height: calc(100vh * 0.7);

      object-fit: cover;
    }
  }
}
