@mixin moveBtn($distance, $opacityValue: 0) {
  transform: translateX($distance);
  opacity: $opacityValue;
}
$slider_setup: (
  'prev': 2rem,
  'next': -2rem,
);
.slider_btn {
  @media screen and (min-width: 800px) {
    @each $className, $distance in $slider_setup {
      .carousel-control-#{$className}-icon {
        @include moveBtn($distance);

        transition: opacity 0.5s ease-in, transform 0.3s ease-in;
        opacity: 0;
        &.show_btn {
          @include moveBtn(0, 1);
        }
      }
    }
  }
}
